* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    font-size: 25px;
    line-height: 130%;
    color: #00B2AF;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #00B2AF;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}
h2 {
  line-height: 130%;
  color: #00B2AF;
}
.menu ul {
    list-style-type: none;
    margin: 2;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 9px;
    background-color: #00B2AF;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.aside {
    background-color: #00B2AF;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.gkimage {
  display: block;
  margin: 0 auto;
}

.footer {
    background-color: #00B2AF;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
.spin {
  padding: 20px;  /* places text ?px from all four sides  */
	/* border-radius: 50px;     border-radius - 50% is circle */
  border-radius: 5px 20px 5px;  /* represents a dimond like like look */
  border: 2px solid blue; /* and border must exist together */
  width: 85px; /* this value sets the circle width on x axis  */
  height: 95px; /* this value sets the circle height on y axis-like an egg */
  animation-name: fliponY;  /* pointer reference to @keyframes spin */
  animation-duration: 4s;  /* rotates for ? seconds */
  animation-direction: alternate; /* alternate between clock and anti wise */
  animation-iteration-count: infinite;  /* will spin indefinetely */

}
/* Create the animation blocks for a square to rotate on y axis*/
@keyframes fliponY{
    0% { transform: rotateY(0); }
   25% { transform: rotateY(45deg); }
   50% { transform: rotateY(90deg); background: silver;}
   75% { transform: rotateY(135deg); background: gray;}
  100% { transform: rotateY(180deg);  }
}
